node_modules
SESSION_SECRET=your-secure-session-secret
PORT=3001
TWILIO_ACCOUNT_SID=AC3c258ee77ce2ec3f7386ebf1fe6d4152
TWILIO_AUTH_TOKEN=8140c1de6cd6f729864bf288e0f25770
TWILIO_PHONE_NUMBER=+44 7360 275267
OPENAI_API_KEY=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
